<div class= "panel panel-default">
      <div class= "panel-body">
        <h3><%= startup.name %></h3>
        <p><%= startup.description %></p>
        <p>
          <strong>Website:</strong>
          <%= link_to startup.website, startup.website %>,
        </p>
       
      </div>
    </div>